h1, p {
text-align: center;
}

body {
  background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

form {
  max-width: 500px;
  text-align: left;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}

form:hover {
  transform: scale(1.05);
}

input[type="checkbox"] {
  width: 15px;
  height: 10px;
  margin: 5.5px;
  margin-left: 10px;
}

input[type="radio"] {
  width: 15px;
  height: 10px;
  margin: 5.5px;
  margin-left: 10px;
}

input, select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
}

button {
  text-align: center;
  display: block;
  padding: 10px;
  background-color: blue;
  color: white;
  margin: 0 auto;
  transition: background-color 0.2s ease-in-out;
}

#information {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px
}

label[for="information"] {
  display: block;
  margin: 0 auto;
  text-align: center;  padding-top: 20px; 
  padding-bottom:-25px;  
}

textarea {
  display: block;
  margin: auto;
  text-align: center;
}

button:hover {
  text-align: center;
  background-color: blue;
  background: linear-gradient(to bottom, blue, violet 100%); 
}
